/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}


/* SPECIFICS */

.bg-ddgb{
    background-color: dodgerblue;
    width: 100vw;
    height: 100vh;
}

h1{
    border: solid 2px white;
    background-color: blue;
    color: white;
    width: 60%;
}

h2{
    text-decoration: underline;
    color: white;
}

.norm-size{
    height: 400px;
    width: 650px;
}

.fas{
    cursor: pointer;
}

.slider {
    height: 500px;
    position: relative;
  }
  
  [class*='fa-angle'] {
    cursor: pointer;
  }
  
  .slider .slider-dots {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    position: absolute;
    top: 100%;
    left: 50%;
  
    transform: translateX(-50%);
  }
  
  .slider-dots .dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }
  
  .slider-dots .dot.active {
    background-color: dodgerblue;
  }